#root {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100%;
}

.navbtn {
	border-radius: 0%;
	width: 100%;
	border: none;
	background-color: #1a1a1a;
	padding: 1em 0em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
}
.active {
	background-color: rgba(255, 255, 255, 0.87);
	color: #1a1a1a;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.btn {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	margin: 1em auto;
}
.btn:focus,
.btn:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

ul {
	list-style: none;
	display: grid;
	padding: 0;
	margin: 0;
	grid-template-columns: 1fr 1fr;
}

.inputLabel {
	display: block;
	padding: 1em;
}
.input {
	padding: 0.5em;
	width: 100%;
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.87);
	border: 1px solid #1a1a1a;
	font-weight: 500;
	font-size: 1.2em;
	color: #1a1a1a;
}
.form{
  height: 100%;
  display: grid;
  place-content: center;
}